{% load staticfiles i18n humanize tz foundation_tags %}
<html><body><pre>
## API WEB-SERVICE CONFIGURATION
#

WEB_SERVICE_URL={{ WEB_SERVICE_URL }}
WEB_SERVICE_CLIENT_ID={{ WEB_SERVICE_CLIENT_ID }}
WEB_SERVICE_CLIENT_SECRET={{ WEB_SERVICE_CLIENT_SECRET }}
WEB_SERVICE_DEVICE_UUID={{ WEB_SERVICE_DEVICE_UUID }}


## APPLICATION CONFIGURATION
#

DATABASE={{ DATABASE }}
MAINLOOP_RUNTIME_SLEEP_INTERVAL_IN_SECONDS={{ MAINLOOP_RUNTIME_SLEEP_INTERVAL_IN_SECONDS }}
MAINLOOP_ERROR_SLEEP_INTERVAL_IN_SECONDS={{ MAINLOOP_ERROR_SLEEP_INTERVAL_IN_SECONDS }}
ACTIVATION_OPERATION_SLEEP_INTERVAL_IN_SECONDS={{ ACTIVATION_OPERATION_SLEEP_INTERVAL_IN_SECONDS }}
SETUP_INSTRUMENTS_OPERATION_SLEEP_INTERVAL_IN_SECONDS={{ SETUP_INSTRUMENTS_OPERATION_SLEEP_INTERVAL_IN_SECONDS }}
DATA_UPLOADER_OPERATION_SLEEP_INTERVAL_IN_SECONDS={{ DATA_UPLOADER_OPERATION_SLEEP_INTERVAL_IN_SECONDS }}
LOCAL_TIMEZONE_NAME={{ LOCAL_TIMEZONE_NAME }}


## DEVICE CONFIGURATION
#

HUMIDITY_SERIAL_NUMBER={{ HUMIDITY_SERIAL_NUMBER }}
HUMIDITY_VINT_HUB_PORT_NUMBER={{ HUMIDITY_VINT_HUB_PORT_NUMBER }}
HUMIDITY_CHANNEL_NUMBER={{ HUMIDITY_CHANNEL_NUMBER }}
TEMPERATURE_SERIAL_NUMBER={{ TEMPERATURE_SERIAL_NUMBER }}
TEMPERATURE_VINT_HUB_PORT_NUMBER={{ TEMPERATURE_VINT_HUB_PORT_NUMBER }}
TEMPERATURE_CHANNEL_NUMBER={{ TEMPERATURE_CHANNEL_NUMBER }}
</pre></body></html>
